---
import LogoIcon from "../assets/icons/LogoIcon.svg";
import { MenuButton } from "./organisms/MenuButton";
---

<header class="header">
    <div class="logo-container">
        <p class="logo-text">Huerta</p>
        <LogoIcon class="logo" width={24} height={24} />
    </div>

    <MenuButton client:load />
</header>

<nav class="nav" id="navMenu">
    <a class="nav__link" href="/">Home</a>
    <a class="nav__link" href="/products">Products</a>
    <a class="nav__link" href="/about-us">About Us</a>
    <a class="nav__link" href="/contact">Contact</a>
</nav>

<style>
    .header {
        width: 100vw;
        height: 4rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: #66bb6a;
        color: #f0f0f0;
        text-shadow: 0 0 0.6rem #0009;
        font-size: 1rem;

        position: sticky;
        top: 0;
        z-index: 10;
        user-select: none;
    }

    .logo-container {
        display: flex;
        gap: 0.3rem;
        align-items: center;
    }

    .logo-text {
        letter-spacing: 1px;
        font-weight: bold;
    }

    .logo {
        color: #006b098e;
    }

    .nav {
        display: flex;
        gap: 0.3rem;
        position: absolute;
        top: -40vh;
        left: 0;
        width: 100vw;
        height: 40vh;
        flex-flow: column nowrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: #3fb445;

        border-radius: 0 0 1rem 1rem;

        transition: top 350ms ease;
        z-index: 5;
    }

    .nav--active {
        top: 4rem;
    }

    .nav__link {
        text-decoration: none;
        font-weight: bold;
        color: #f0f0f0;
        text-shadow: 0 0 0.6rem #0009;
    }

    @media (min-width: 768px) {
        .header,
        .nav,
        .nav__link {
            display: none;
        }
    }

</style>
